.main__acordion {
  height: 500px;
  width: 100%;
  background-color: #000;
  .accordion__mainHeading {
    text-align: center;
    font-size: 60px;
    padding-top: 6rem;
    padding-bottom: 0.4rem;
  }
}
